#timetable-column{
    --row-gap: 0.05em;
    --extra-width: 0.1em;

    display: grid;
    row-gap: var(--row-gap);
    column-gap: 1em;


    height: 90vh;
    
    > div {
        border: 1px solid black;
        background-color: white;
        z-index: 1;
    }

    .time-marker {
        border: none;
        padding: 0;

        &{
            background-color: transparent;

            > * {
                /* move time (&) onto gridlines */
                translate: 0 calc(-50% - var(--row-gap) / 2);

                background-color: white;
                padding: 0 5px;

                border: 1px solid black;
            }
        }
    }

    .horizontal-line {
        border: none;
        border-top: calc(var(--extra-width) + var(--row-gap)) dashed gray;
        translate: 0 calc(-1 * (var(--extra-width) / 2 + var(--row-gap)));
        z-index: 0;
        transition: border-color 1s;

        &:hover{
            border-color: red;
        }
    }

    
}